@import '~bootstrap/scss/bootstrap';
// Import all of CoreUI's CSS
@import "@coreui/coreui/scss/coreui";

*{
    font-family: "Lilita One", sans-serif;
}


.error_invisible{
    display: none;
}
.error_visible{
    display: block;
}

.password_container{
    display: flex;
    align-items: center;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding-right: 10px;

    &>input{
        border: none;
        outline: none;
        &:focus .password_container{
            box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
            border-color: #86b7fe;
        }
    }

}
.bar_date{
    color: white;
    padding-left: 15px;
}
.date_container{
    padding: 10px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.active{
    background-color: #1E1E1E;
}
.container_step{
    border: 5px solid #1E1E1E;
    border-radius: 10px;
    padding: 10px;
    &>.step_card{
        background-color: white;
        padding: 10px 10px;
        border: 1px solid #1E1E1E;
        border: inherit;
        border-radius: 10px;

        .img_step{
            width: 100px;
            &>img{
                width: 100%;
            }
        }
    }
    .step_add{
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        &>.container{
            cursor: pointer;
            text-decoration: none;
            color: #1E1E1E;
            font-weight: bold;
        }
    }
}

.card_note{
    padding: 10px;
    border-radius: 10px;
    border: 4px solid #1E1E1E;
    
    background-color: white;

    .top_note{
        .left{
            .container_img{

                &>img{
                    width: 80px;
                }
            }
        }
    }
}

.sidebar{
    height: 100vh;
    background-color: #1E1E1E;

    .nav-item{
        &>a .nav-link{
            color: #E25B07!important;
            &>i{
            color: #E25B07!important;

            }
        }
    }

}

.right_info_show{
    width: 80%;
    max-width: 530px;
    background-color: #1E1E1E;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

@media (max-width: 991.98px) {
    .sidebar:not(.sidebar-end) {
        left: 0;
    }
}

@media (max-width: 991.98px) {
    .container_admin{
        width: calc(100% - 4rem);
    }
    .sidebar-narrow-unfoldable:not(:hover) .nav-icon, .sidebar-narrow .nav-icon {
        flex: 0 0 calc(4rem - 0.5rem * 2 - 0.5rem * 2);
    }
    .sidebar-narrow-unfoldable:not(:hover) .sidebar-nav, .sidebar-narrow .sidebar-nav {
        --bs-sidebar-nav-link-padding-x: 0.5rem;
        --bs-sidebar-nav-link-padding-y: 0.75rem;
    }
    .sidebar-narrow-unfoldable:not(:hover) .sidebar-header, .sidebar-narrow .sidebar-header {
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
    }

    .nav-link a{
        padding: 8px 12px;
    }
    .sidebar:not(.sidebar-end):not(.show) {
        margin-left: 0rem;
    }
    .sidebar-narrow-unfoldable:not(:hover), .sidebar-narrow {
        flex: 0 0 4rem;
        width: 4rem;

        overflow: visible;
    }
}

/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=e25b07&c2=eda353&gt=l&gd=dbl
*/

// background: #E25B07;
// background: linear-gradient(45deg, #E25B07, #EDA353);

.account_container{
    padding-bottom: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E25B07;
    background: linear-gradient(45deg, #E25B07, #EDA353);
    .button_return{
        width: 50px;
        aspect-ratio: 1;
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 50%;
        border: 0;
        background-color: #1E1E1E;
        font-size: 20px;
        color: white;
        box-shadow: 5px 5px 10px #E25B07;

        &:hover{
            transition: all 0.5s ease-in-out ;
            background-color: white;
            color: #E25B07;
        }
    }
    
    .card_register, .card_login{
        border-radius: 15px;
        width: 90%;
        max-width: 500px;
        padding: 20px;
        background-color: #1E1E1E;
        color:#E25B07;
        .card_header{
            padding-bottom: 20px;
            text-align: center;
        }
        .card_body{

            &>form{

                &>.mb-3{

                    .input-group, .input-group-text, input{
                        background-color: transparent;
                        border: 0;
                        color: #E25B07;
                        

                    }
                    .input-group{
                        border-bottom: 3px solid #E25B07;
                    }
                    input{


                        &:focus{
                            box-shadow: 0 0 0 0.25rem #e25b0796;

                        }


                    }

                    #register-submit-button, #login-submit-button{
                        background: #E25B07;
                        border: 0;
                        transition: background-color 0.5s ease-in-out ;
                     &:hover{
                        background-color: #a13f02!important;
                        transition: background-color 0.5s ease-in-out ;
                     }

                        
                    }

                    
                }
            }

        }

    }

}

.container_admin{
    background: linear-gradient(45deg, #E25B07, #EDA353);
    width: 100%;
    margin-left: 4rem;
    height: 100%;
    min-height: 100vh;

}

.right_show_travel{
    background-color: #1E1E1E;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #E25B07;

    .color_orange{
        color: #E25B07;
    }

}

.btn_return{
    border: 0;
    background-color: #E25B07;
    
    &:hover{
        transition: all ease-in-out 0.5s;
        background-color: #a13f02;
    }
}

.form-control:focus{
    box-shadow: 0 0 0 0.25rem #1e1e1e80;
    border-color: #a13f02;
}


@media (max-width: 772px) {
    .show_steps{
        flex-wrap: wrap;
    }
    .left_image_show{
        width: 100%;

    }
    .right_info_show{
        width: 100%;
    }

    .container_admin{
        width: calc(100% - 4rem);
    }
}

.right_show_travel{
    width: 500px;
}
@media (max-width: 860px) {
    .travels_container{
        flex-wrap: wrap;
        .right_show_travel{
            width: 100%;
        }
    }

}

@media (max-width: 595px) {
    .travels_container, .steps_container{
        margin-left: 0;
    }

    .step_card{
        flex-wrap: wrap;
    }
    .bar_date{
        display: none !important;
    }
    
    #bar_date_mobile{
        display: block !important;
        height: 100%;

    }
}

#bar_date_mobile{
    display: none;
    margin-left: 20px;
}


.navbar{
    color: #E25B07;
    background-color: #1E1E1E;
}
#jumbotron{
    height: 600px;
    background-image: url('../../public/storage/img/jumbotron.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

#travels_front{
    background: linear-gradient(45deg, #E25B07, #EDA353);
}
.separeted{
    display: block;
    border-bottom: 3px solid #1E1E1E;
    margin-bottom: 10px;
}

.stars{
    cursor: pointer;
}
.stars:hover{
    scale: 1.2;
}

.toast{
    display: block !important;
}
.toast:not(.show) {
    display: none !important;
}
.card_step{
    box-shadow: 2px 2px 5px black;

}

#step_front{
    background: linear-gradient(45deg, #E25B07, #EDA353);

    .container{
        background-color: white;
        

    }
}

.right_note{
    background-color: #dee2e6;
    padding: 10px;
    border-radius: 10px;
}

.modal_note{
    background-color: #1E1E1E;
    color: #E25B07;
    .close_modal{
        color: #E25B07;
        border: none;
        background-color: transparent;
    }
    .modal-body{
        .form-floating>input, .form-floating>textarea{
            background-color: transparent;
            color: #E25B07;
            border-color: #E25B07;

        }
        .form-floating>label{
            background-color: transparent;
            border: 0;
            color: #E25B07;
        }

        .create_note_btn{
            background-color: #E25B07;
            color: white;
        }
    }
}

@media (max-width: 775px) {
    #steps_container_row{
        justify-content: center !important;
    }
}

@media (max-width: 560px) {
    .tupla_invisible{
        display: none;
    }
}

// pagination

.page_item_custom{
    background-color: white;
    color: #E25B07;

    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: #E25B07;


    &:hover{
        background-color: #1E1E1E;
        transition: all ease-in-out 0.5s;

    }

}
.other_page{
    background-color: white;
    color: #E25B07;
    text-decoration: none;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &>a{
    text-decoration: none;
    cursor: pointer;
    color: #E25B07;

    }
}


//Vars 
:root {
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #1e1e1e;
    --color-light: #fff;
    --color-brand: #E25B07;
    --font-fam: 'Lato', sans-serif;
    --height: 2.5rem;
    --btn-width: 3rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
  }
  

  
  // Main styles
  #search_form{
    position: relative;
    width: 15rem;
    background: var(--color-brand);
    border-radius: var(--rad);

    input, button {
        height: var(--height);

        border: 0;
        color: var(--color-dark);

      }
      input[type="search"] {
        outline: 0; // <-- shold probably remove this for better accessibility, adding for demo aesthetics for now.
        width: 100%;
        background: var(--color-light);
        padding: 0 1.6rem;
        border-radius: var(--rad);
        appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work
        transition: all var(--dur) var(--bez);
        transition-property: width, border-radius;
        z-index: 1;
        position: relative;
      }
      button {
        display: none; // prevent being able to tab to it
        position: absolute;
        top: 0;
        right: 0;
        width: var(--btn-width);
        font-weight: bold;
        background: var(--color-brand);
        border-radius: 0 var(--rad) var(--rad) 0;
      }
      input:not(:placeholder-shown) {
        border-radius: var(--rad) 0 0 var(--rad);
        width: calc(100% - var(--btn-width));
        + button {
          display: block;
        }
      }
      label {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
      }
    
  }

  #tom_tom{
    width: 100%;
    min-height: 100%;
  }