@import '~bootstrap/scss/bootstrap';

.error_invisible{
    display: none;
}
.error_visible{
    display: block;
}

.password_container{
    display: flex;
    align-items: center;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding-right: 10px;

    &>input{
        border: none;
        outline: none;
        &:focus .password_container{
            box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
            border-color: #86b7fe;
        }
    }

}
.bar_date{
    padding-left: 15px;
}
.date_container{
    padding: 10px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.active{
    background-color: orangered;
}
.container_step{
    border: 5px solid orangered;
    border-radius: 10px;
    padding: 10px;
    &>.step_card{
        background-color: orange;
        padding: 10px 10px;
        border: 1px solid orangered;
        border: inherit;
        border-radius: 10px;

        .img_step{
            width: 100px;
            &>img{
                width: 100%;
            }
        }
    }
    .step_add{
        background-color: orange;
        padding: 10px;
        border-radius: 10px;
        &>.container{
            cursor: pointer;
            text-decoration: none;
            color: orangered;
            font-weight: bold;
        }
    }
}

.card_note{
    padding: 10px;
    border-radius: 10px;
    border: 4px solid orangered;
    
    background-color: orange;

    .top_note{
        .left{
            .container_img{

                &>img{
                    width: 80px;
                }
            }
        }
    }
}